{% extends "main_layout.html.twig" %}
{% from 'forms.html.twig' import submit, textarea, upload, required_input, selection as selection_field, input as input_field %}
{% block title %}#business_registration#{% endblock %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ media('vendor/jquery-plugins/chosen/chosen.min.css') }}" media="all" />
<link rel="stylesheet" type="text/css" href="{{ media('styles/bootstrap-chosen.css') }}" media="all" />
<style>
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; white-space: nowrap; overflow: hidden; font-size: 18px }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
</style>
{% endblock %}


{% block content %}
	<div class="container-fluid" id="center-row">
	    <div class="row">
	        <div id="main" class="col-md-12">
	        	<div class="panel">
				    <div class="panel-heading"></div>
				    <div class="panel-body">
					    <span style="line-height: 30px; vertical-align:middle;">Business Registration</span>
				    </div>
				</div><!-- end panel panel-info -->
	        	<div class="panel">
				    <div class="panel-heading"></div>
				    <div class="panel-body">
						<form class="form-horizontal" role="form" style="width:100%;font-size:15px;font-weight:400;padding:20px" method="post" enctype="multipart/form-data" action="{{ path('business_add_processing') }}">

							{{ required_input('name') }}<hr />
						    <div class="form-group">
						        <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">country <span style="color:red">*</span></label>
						        <div class="col-sm-9">
							        <select for="inputEmail3" data-placeholder="Choose a Country..." id="countries" class="col-sm-3 control-label form-control chosen-select" style="text-align:left;margin-bottom:7px;" tabindex="-1">
							        	{%for value in page.countries %}
						                <option value="{{ loop.index0 }}">{{ value.nicename }}</option>
						                {% endfor %}
							        </select>
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">City <span style="color:red">*</span></label>
							    <div class="col-sm-9">
							      <input type="{{ type }}" name="city" class="form-control" id="autocomplete-city" placeholder="{{ exemple }}" autocomplete=off>
							    </div>
						    </div>
						    <hr />
						    <div class="form-group">
						        <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">Province <span style="color:red">*</span></label>
							    <div class="col-sm-9">
							      <input type="{{ type }}" name="province" class="form-control" id="autocomplete-province" placeholder="{{ exemple }}" autocomplete=off>
							    </div>
						    </div>
							{{ required_input('postcode') }}
						    <hr />
							{{ required_input('line1') }}
							{{ input_field('line2') }}<hr />
							{{ input_field('lat') }}
							{{ input_field('lng') }}
							{{ textarea('description', 'required') }}
							{{ input_field('website') }}<hr />
							{{ upload('img_business_med', 'images', 500000) }}<hr />
							<span style="color:red">(* Required)</span>

							{{ submit('Sign In') }}
						</form>
				    </div>
				</div><!-- end panel panel-info -->
	        </div><!-- end col-md-12-->
	    </div><!-- end row -->
	</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript" src="{{ media('vendor/jquery-plugins/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ media('vendor/jquery-plugins/autocomplete/jquery.autocomplete.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
	var config = {
	  '.chosen-select'           : {},
	  //'.chosen-select-deselect'  : {allow_single_deselect:true},
	  //'.chosen-select-no-single' : {disable_search_threshold:10},
	  //'.chosen-select-width'     : {width:"95%"}
	}
	for (var selector in config) {
	  	$(selector).chosen(config[selector]);
	}
});
</script>
<script type="text/javascript">
	var cities = [
		{% for city in page.cities %}
		{ value: '{{ city.name }}', data: 'AD' },
		{% endfor %}
	];
	var provinces = [
		{% for city in page.cities %}
		{ value: '{{ city.province.name }}', data: 'AD' },
		{% endfor %}
	];
console.debug(provinces);
$('#autocomplete-city').autocomplete({
    lookup: cities
});
$('#autocomplete-province').autocomplete({
    lookup: provinces
});
</script>
{% endblock %}