{% extends "main_layout.html.twig" %}
{% from 'forms.html.twig' import submit, textarea, upload, required_input, selection as selection_field, input as input_field %}
{% block title %}#business_registration#{% endblock %}

{% block content %}
		<div class="container-fluid" id="center-row">
		    <div class="row">
		        <div id="main" class="col-md-12">
		        	<div class="panel">
					    <div class="panel-heading"></div>
					    <div class="panel-body">
						    <span style="line-height: 30px; vertical-align:middle;">Inscription</span>
					    </div>
					</div><!-- end panel panel-info -->
		        	<div class="panel">
					    <div class="panel-heading"></div>
					    <div class="panel-body">
							<form class="form-horizontal" role="form" style="width:100%;font-size:15px;font-weight:400;padding:20px" method="post" enctype="multipart/form-data" action="app.php?signup/processing">
								{{ required_input('name') }}<hr />
								{{ required_input('email') }}
								{{ required_input('password') }}
								{{ required_input('verify_password') }}
								{{ selection_field('country', page.countries, 'required') }}<hr />
								{{ upload('user_avatar', 'user_avatar', 500000) }}<hr />
								<span style="color:red">(* Required)</span>
								{{ submit('Sign In') }}
							</form>
					    </div>
					</div><!-- end panel panel-info -->
		        </div><!-- end col-md-12-->
		    </div><!-- end row -->
		</div>
{% endblock %}