{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}{{page.business1.name}} vs. {{page.business2.name}}{% endblock %}
{% set month_en_fr = {'January': 'Janvier', 'February': 'Février','March': 'Mars','April': 'Avril','May': 'Mai','June': 'Juin', 'July' : 'Juillet', 'August': 'Aout', 'September': 'Septembre', 'November': 'Novembre', 'December': 'Décembre'} %}
{% set day_en_fr = {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche'} %}
{%block stylesheet%}
{{ parent() }}
<style>
.draggable { width: auto; height: auto; float: left; margin: 10px 10px 10px 0; z-index:999999999999999;}
.droppable { width: 100%; height: 150px; float: left;}
</style>
 <style>
h1 { padding: .2em; margin: 0; }
#products { float:left; width: 500px; margin-right: 2em; }
#cart { width: 200px; float: left; margin-top: 1em; }
/* style the list to maximize the droppable hitarea */
#cart ol { margin: 0; padding: 1em 0 1em 3em; }
</style>
{%endblock%}
{% block content %}
<div class="row">
    <div class="col-md-12" id="head">
        <div style="float:left; position:absolute; top:0; left:15px; z-index:999">
            <div class="col-md-4 hidden-ms hidden-xs title">
                <p>
                    <a href="{{ path('home') }}" style="text-decoration:none; color:white">becee<span class="saumon">.</span></a>
                </p>
            </div>
        </div>
        <div class="container container-fluid" style="background:rgba(0,0,0,0.4); height:100%">
            <div class="row">
                <div class="col-md-12">
                    <form class="input-group" action="{{ path('home') }}" method="POST">
                        <input type="text" id="autocomplete-search" name="search" class="form-control empty" placeholder="&#xF002; {{ page.business1.categories.0.categorie_name|title }} near {{ page.business1.city.name }}" style="background:none;" autocomplete=off>
                        <div id="results"></div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:80px">
                <div class="col-md-4" style="border-left: 6px solid #704270">
                    <h1 style="text-align:left; font-size:5em; background:none; border-color: rgba(100,100,100,0.1); color:white; margin:10px;text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7);">{{ page.business1.name }}</h1>
                    <p style="font-size:1em; color: white; float: left; font-family: 'Roboto'; margin:7px 15px; text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7);">{{ page.business1.address_1 }}, {{ page.business1.city.postal_code }} {{ page.business1.city.name }}</p>
                </div>
                <div class="col-md-4">
                    <p style="text-align:center; font-size:6em; background:none; border-color: rgba(20,20,20,0.1); color:white; margin:10px 10px; font-family:'Roboto'; font-weight:100; border:1px solid rgba(20,20,20,0.4); padding: 10px 0;width:200px; display:block; margin:auto; border-radius: 100px; background:rgba(255,255,255,0.1);">VS</p>
                </div>
                <div class="col-md-4" style="border-right: 5px solid #435270">
                    <h1 style="text-align:right; font-size:5em; background:none; border-color: rgba(100,100,100,0.1); color:white; margin:10px;text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7);">{{ page.business2.name }}</h1>
                    <p style="font-size:1em; color: white; float: right; font-family: 'Roboto'; margin:7px 15px; text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* top-left */
    1px 1px 1px rgba(255,255,255,0.2), /* bottom-right */
    1px 1px 1px rgba(0,0,0,0.7);">{{ page.business2.address_1 }}, {{ page.business2.city.postal_code }} {{ page.business2.city.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end col-md-12 head-->
</div>
<!-- end row -->

<div class="container container-fluid">
    <div class="row">
        <div id="products" style="width:100%">
            <div id="catalog">
                <h2><a href="#">Placez ces features dans l'une des deux boîte</a></h2>
                <div>
                    <ul>
                        {% for feature in page.features %} {% if not feature.name is empty %}
                        <li data-product="{{ feature.id }}" id="{{ feature.id }}"><i class="fa fa-feature" style="color:#ccc; margin-right:5px"></i>{{ feature.name }}</li>
                        {%endif%}{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-top:5px;">
            <div id="droppable_business1" style="width:100%">
                <h2>Boîte à feature de {{ page.business1.name }}</h2>
                <div class="ui-widget-content">
                    <ol>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:5px;">
            <div id="droppable_business2" style="width:100%">
                <h2>Boîte à feature de  {{ page.business2.name }}</h2>
                <div class="ui-widget-content">
                    <ol>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </div>
        <form action="{{ path('clashProcess', {'id_business1' : page.business1.id, 'id_business2' : page.business2.id }) }}" method="POST">
            <select name="features_business1[]" id="features_business1" style="display:none" multiple>
            </select>
            <select name="features_business2[]" id="features_business2" style="display:none" multiple>
            </select>
            <input type="submit">
        </form>

    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:5px;">
            <div class="row" style="padding:0px 0">
                <div class="col-md-6" style="padding:0px 0px; border:3px solid #fefefe; background:#fbfbfb">

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12" style="height:100px; margin-bottom:0px; padding:0 14px;">
                                {% for image in page.business1.images %}
                                <a href="#">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; margin:5px auto; display:inline-block">
                                        <img src="{{ media(image.path) }}" style="height:100px; min-width:100px;display:block" />
                                    </div>
                                </a>
                                {% endfor %} {% if page.business1.price != 9 %} {% for i in range(0,8-(page.business1.images|length)) %}
                                <a href="#add_comment_area">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; border:1px solid #fefefe; margin:5px auto; display:inline-block; background:#f6f6f6; text-align:center; padding-top:20px">
                                        <i class="fa fa-plus fa-5x" style="color:#e5e5e5;"></i>
                                    </div>
                                </a>
                                {% endfor %} {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding:10px; height:auto; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                font-weight: 400
                font-style:  normal
                font-size-adjust:    none
                color:   #4D4D4D; border:1px solid #eee; background-color:#fff; margin:10px; position:relative;overflow:hidden;">
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fd6767; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Heures d'ouverture</span>
                                    Probablement ouvert (Voir à quel moment les utilisateurs publient un check-in)
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #a1f9a5; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Menus</span>
                                    Brunch, Déjeuner, Dîner
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #c5e9fd; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Cartes de crédit</span>
                                    Oui (y compris American Express)
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fdf3c6; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Terrasse</span>
                                    Oui
                                    <hr style="margin: 7px 0" />

                                    <p style="padding:5px 15px">{{ page.business1.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12" style="height:100px; margin-bottom:0px; padding:0 14px;">
                                {% for image in page.business2.images %}
                                <a href="#">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; margin:5px auto; display:inline-block">
                                        <img src="{{ media(image.path) }}" style="height:100px; min-width:100px;display:block" />
                                    </div>
                                </a>
                                {% endfor %} {% if page.business2.price != 9 %} {% for i in range(0,8-(page.business2.images|length)) %}
                                <a href="#add_comment_area">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; border:1px solid #fefefe; margin:5px auto; display:inline-block; background:#f6f6f6; text-align:center; padding-top:20px">
                                        <i class="fa fa-plus fa-5x" style="color:#e5e5e5;"></i>
                                    </div>
                                </a>
                                {% endfor %} {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding:10px; height:auto; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                font-weight: 400
                font-style:  normal
                font-size-adjust:    none
                color:   #4D4D4D; border:1px solid #eee; background-color:#fff; margin:10px; position:relative;overflow:hidden;">
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fd6767; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Heures d'ouverture</span>
                                    Probablement ouvert (Voir à quel moment les utilisateurs publient un check-in)
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #a1f9a5; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Menus</span>
                                    Brunch, Déjeuner, Dîner
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #c5e9fd; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Cartes de crédit</span>
                                    Oui (y compris American Express)
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fdf3c6; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Terrasse</span>
                                    Oui
                                    <hr style="margin: 7px 0" />

                                    <p style="padding:5px 15px">{{ page.business2.description }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{parent()}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0bzuk1i_1CC2CldMPylb88Wj4AizQo-s&sensor=true"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script type="text/javascript">
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
            $('#blah').attr('style', 'height:100px; min-width:100px;display:block');
            $('#smallpic').attr('style', 'overflow:hidden;border-radius:5px; margin-top:10px');
            if (!($('#smallpic').hasClass('img-container'))) {
                var d = document.getElementById("smallpic");
                d.className = d.className + "img-container";
            }
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});

function expandTextarea(id) {
    var $element = $('.myclass').get(0);  
    
    $element.addEventListener('keyup', function() {
        this.style.overflow = 'hidden';
        this.style.height = 0;
        this.style.height = this.scrollHeight + 'px';
    }, false);
}

expandTextarea('add_comment_area');
</script>
<script type="text/javascript" src="{{ media('vendor/googlemap-api/js/googlemap-api.js')}}"></script>
<script type="text/javascript">
   initialize({{ page.business1.city.lat }},{{ page.business1.city.lng }}, '');
</script>
<script>
$(function() {
$( ".draggable" ).draggable();
$( ".droppable" ).droppable({
drop: function( event, ui ) {
$( this )
.addClass( "ui-state-highlight" )
}
});
});
</script>


 <script>
$(function() {
$( "#catalog" ).accordion();
$( "#catalog li" ).draggable({
appendTo: "body",
helper: "clone"
});
$( "#droppable_business1 ol" ).droppable({
activeClass: "ui-state-default",
hoverClass: "ui-state-hover",
accept: ":not(.ui-sortable-helper)",
drop: function( event, ui ) {
$( this ).find( ".placeholder" ).remove();
$( "li#"+ui.draggable.data('product') ).remove();
$("select#features_business1").append("<option value='"+ui.draggable.data('product')+"' selected='selected'>"+ui.draggable.data('product')+"</option>");
$( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
}
}).sortable({
items: "li:not(.placeholder)",
sort: function() {
// gets added unintentionally by droppable interacting with sortable
// using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
$( this ).removeClass( "ui-state-default" );
}
});
    $("#catalog ul").droppable({
        drop: function(event, ui) {
            $(ui.draggable).remove();
        },
        hoverClass: "ui-state-hover",
        accept: '.cart-item'
    });

});
</script>

 <script>
$(function() {
$( "#catalog" ).accordion();
$( "#catalog li" ).draggable({
appendTo: "body",
helper: "clone"
});
$( "#droppable_business2 ol" ).droppable({
activeClass: "ui-state-default",
hoverClass: "ui-state-hover",
accept: ":not(.ui-sortable-helper)",
drop: function( event, ui ) {
$( this ).find( ".placeholder" ).remove();
$( "li#"+ui.draggable.data('product') ).remove();
$("select#features_business2").append("<option value='"+ui.draggable.data('product')+"' selected='selected'>"+ui.draggable.data('product')+"</option>");
$( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
}
}).sortable({
items: "li:not(.placeholder)",
sort: function() {
// gets added unintentionally by droppable interacting with sortable
// using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
$( this ).removeClass( "ui-state-default" );
}
});
    $("#catalog ul").droppable({
        drop: function(event, ui) {
            $(ui.draggable).remove();
        },
        hoverClass: "ui-state-hover",
        accept: '.cart-item'
    });

});

</script>
{% endblock %}

