{% macro input(name, exemple = "", type = "text", value = "") %}
    <div class="form-group">
	    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">{{ name }}</label>
	    <div class="col-sm-9">
	      <input type="{{ type }}" name={{ name }} value="{{ value }}" class="form-control" id="inputEmail3" placeholder="{{ exemple }}">
	    </div>
    </div>
{% endmacro %}

{% macro required_input(name, exemple = "", type = "text", value = "") %}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">{{ name }} <span style="color:red">*</span></label>
        <div class="col-sm-9">
          <input required type="{{ type }}" name={{ name }} value="{{ value }}" class="form-control" id="inputEmail3" placeholder="{{ exemple }}">
        </div>
    </div>
{% endmacro %}

{% macro submit(name="#submit") %}
    <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" class="btn btn-default">{{ name }}</button>
	    </div>
    </div>
{% endmacro %}

{% macro textarea(name, value = "", required="") %}
    <div class="form-group">
	    <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:10px">{{ name }} <span style="color:red">*</span></label>
	    <div class="col-sm-9">
	      	<textarea {{ required }} name={{ name }} value="{{ value }}" class="form-control" rows="3"></textarea>
	    </div>
    </div>
{% endmacro %}

{% macro upload(name, value = "", max_size = 100000, required="") %}
<div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label" style="text-align:left;margin-bottom:10px">{{ value }} <span style="color:red">*</span></label>
    <div class="col-sm-9">
         <input type="hidden" name="MAX_FILE_SIZE" value="{{ max_size }}">
    	<input {{ required }} type="file" name="{{ name }}" id="{{ name }}" id="exampleInputFile">
    </div>
  </div>
{% endmacro %}

{% macro selection(name, values = [""], required="") %}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label" style="text-align:left;margin-bottom:7px">{{ name }} <span style="color:red">*</span></label>
        <div class="col-sm-9">
            <select {{ required }} name={{ name }} class="form-control">
                <option value="" selected>Please select a {{ name }}</option>
                {%for value in values %}
                <option value="{{ value.nicename }}">{{ value.nicename }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}