{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}Home{% endblock %}

{% block content %}

 <div class="row">
            <div class="col-md-12">
                <div id="head" class="container">
                    <div id="head-title">
                        <p>HERE AT <img class="white-logo" src="{{ media('img/logo1.png') }}"/> WE CONSIDER YOUR TASTES</p>
                    </div>
                    <form method="post" action="{{ path('home') }}">
                        <select onchange="this.form.submit()" id="city-selection" class="form-control input-sm" name='city'>
                            {%for city in page.cities %}
                            {% if city.id == page.current_city.id %}
                            <option value="{{ city.id }}" selected>{{ city.name }}</option>
                            {% else %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                    <ul id="nav-tools">
                        <li>
                            <a class="btn-categories btn-default" href="#" style="border-color: rgba(250,250,250,0.35); background-color:rgba(0,0,0,0.1) !important; color:white; ">
                                <i class="fa fa-beer fa-lg"></i><span>Bars</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn-categories btn-default" href="#" style="border-color: rgba(250,250,250,0.35); background-color:rgba(0,0,0,0.1) !important; color:white">
                                <i class="fa fa-coffee fa-lg"></i><span>Cafés</span>
                            </a>
                        </li>
                        <li>
                            <a class="btn-categories btn-default" href="#" style="border-color: rgba(250,250,250,0.35); background-color:rgba(0,0,0,0.1) !important; color:white">
                                <i class="fa fa-cutlery fa-lg"></i><span>Restaurants</span></a>
                        </li>
                        <li>
                            <a class="btn-categories btn-default" href="#" style="border-color: rgba(250,250,250,0.35); background-color:rgba(0,0,0,0.1) !important; color:white">
                                <i class="fa fa-gear fa-lg" ></i><span>Custom</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- end col-md-12-->
        </div><!-- end row -->

        <div id="sub-header">
            <div class="container-fluid">
                <div class="row center-row">
                    <div class="col-md-7">
                        <a href="#" class="sub-header-btn" style="border-bottom: 2px solid red" >Restaurants</a>
                        <a href="#" class="sub-header-btn">Boutiques</a>
                        <a href="#" class="sub-header-btn">Coiffeurs</a>
                        <a href="#" class="sub-header-btn">Alimentaire</a>
                        <a href="#" class="sub-header-btn">Loisirs</a>
                        <a href="#" class="sub-header-btn">Opéra</a>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group" style="width:100%">
                            <input type="text" class="form-control" placeholder="Restaurant Indien">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-container">
            <div class="row center-row">
                <div class="col-md-12">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Restaurant
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Restaurant Indien">
                        </div>


                        {% for tag in page.tags|slice(0, 4) %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
               
                    {% for restaurant in page.businesses %}
                    <div class="col-md-4 home-business">
                        <div class="home-business-box">
                            <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags|slice(0, 4) %}
                                <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                                {% endfor %}

                                <p class="business-info">
                                    {{restaurant.name}}<br/>
                                    <span style="font-size:12px">{{restaurant.line1}}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                </p>
                            </div>
                        </div>
                        <div class="description-info-business-box">
                            <p>{{ restaurant.description[0:77] }}...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-12" style="margin: 10px 0">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Restaurant
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Restaurant Indien">
                        </div>


                        {% for tag in page.tags|slice(0, 4) %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
               
                    {% for restaurant in page.businesses %}
                    <div class="col-md-6 home-business">
                        <div class="home-business-box">
                            <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags %}
                                {% if tag.id < 4 %}
                                <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                                {% endif %}
                                {% endfor %}

                                <p class="business-info">
                                    {{restaurant.name}}<br/>
                                    <span style="font-size:12px">{{restaurant.line1}}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                </p>
                            </div>
                        </div>
                        <div class="description-info-business-box">
                            <p>{{ restaurant.description[0:77] }}...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
