{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}

{% block content %}

<div class="row">
    <div class="col-md-12" id="head">
        <div id="bottom-head">
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-md-5 hidden-ms hidden-xs title">
                        <p>
                        <a href="{{ path('home') }}" style="text-decoration:none; color:white">becee<span class="saumon">. suggesting you the best</span> </a>
                        </p>
                    </div>
                    <div class="col-md-7">
                        <form class="input-group" action="{{ path('home') }}" method="POST">
                            <input type="text" id="autocomplete-city" name="search" class="form-control empty" placeholder="&#xF002; Restaurant near {{ page.current_city.name }}" autocomplete=off>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col-md-12 head-->
</div><!-- end row -->

<div class="container container-fluid">
    <div class="row top15">
        <ul class="nav nav-pills nav-stacked col-md-2">
            <li><a data-toggle="pill" href=
            "#suggested">
            <i class="fa fa-crosshairs  fa-5x"></i>
            <span style="font-size:25px">
            Suggested</span></a></li>

            <li><a data-toggle="pill" href="#nearest">
            <i class="fa  fa-location-arrow  fa-5x"></i>
            <span style="font-size:25px">
            Nearest</span></a></li>

            <li class="active"><a data-toggle="pill" href="#reviews">
            <i class="fa  fa-comments-o  fa-5x"></i>
            <span style="font-size:25px">
            Reviews</span></a></li>

            <li><a data-toggle="pill" href="#random">
            <i class="fa  fa-random  fa-5x"></i>
            <span style="font-size:25px">
            Random</span></a></li>
        </ul>

        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="reviews">
                {% for restaurant in page.businesses|slice(0,6) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="business-box-container" style=
                                "background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags|slice(0, 4) %} <a class=
                                "btn btn-small tag" href="{{ path('business_add') }}">
                                    {{ tag.name }}</a> {% endfor %}

                                    <a alt="page_restaurant" href="{{ path('view_business', {'id':restaurant.id, 'name':restaurant.name}) }}" style="display:block"><p class="business-info">{{ restaurant.name }}<br>
                                    <span style=
                                    "font-size:12px">{{ restaurant.line1 }}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2
                                    km</span></p></a>
                                </div>

                                <div class="description-info-business-box">
                                    <div>
                                        <p style="display:inline-block; width:auto;float:left">
                                        <i class="fa fa-user" style="padding:10px;margin:5px;background-color:#eee"></i>
                                        </p>

                                        <p>{{ restaurant.description[0:150] }}...</p>
                                    </div>

                                    <div>
                                        <hr style="margin: 5px 0">

                                        <p style="color:#aaa; float:right;">
                                        <i class="fa fa-clock-o"></i> Lundi 15 Avril à 19h38 - 
                                        <i class="fa fa-thumbs-o-up"></i> 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <div style=
                        "text-align:center; color:#aaa;text-style:italic;padding:10px;margin: 10px 0">
                        <p><i class="fa fa-spinner"></i> Loading</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="nearest">
                {% for restaurant in page.businesses|slice(0,4) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="business-box-container" style=
                                "background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags|slice(0, 4) %} <a class=
                                "btn btn-small tag" href="{{ path('business_add') }}">
                                    {{ tag.name }}</a> {% endfor %}

                                    <a alt="page_restaurant" href="{{ path('view_business', {'id':restaurant.id, 'name':restaurant.name}) }}" style="display:block"><p class="business-info">{{ restaurant.name }}<br>
                                    <span style=
                                    "font-size:12px">{{ restaurant.line1 }}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2
                                    km</span></p></a>
                                </div>

                                <div class="description-info-business-box">
                                    <div>
                                        <p style="display:inline-block; width:auto;float:left">
                                        <i class="fa fa-user" style="padding:10px;margin:5px;background-color:#eee"></i>
                                        </p>

                                        <p>{{ restaurant.description[0:150] }}...</p>
                                    </div>

                                    <div>
                                        <hr style="margin: 5px 0">

                                        <p style="color:#aaa; float:right;">
                                        <i class="fa fa-clock-o"></i> Lundi 15 Avril à 19h38 - 
                                        <i class="fa fa-thumbs-o-up"></i> 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <div style=
                        "text-align:center; color:#aaa;text-style:italic;padding:10px;margin: 10px 0">
                        <p><i class="fa fa-spinner"></i> Loading</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="suggested">
                <h1>#Suggestions#</h1>
            </div>

            <div class="tab-pane" id="random">
                <h1>#Random#</h1>

            </div>
        </div><!-- tab content -->
    </div>
</div>


{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $('#iconified').on('keyup', function() {
    var input = $(this);
    if(input.val().length === 0) {
        input.addClass('empty');
    } else {
        input.removeClass('empty');
    }
});
 $(function() {
    var cities = [
        {% for categorie in page.categories %}
            {% for city in page.cities %}
            '{{ categorie.categorie_name|title }} near {{ city.name }}',
            {% endfor %}
        {% endfor %}
    ];
    $( "#autocomplete-city" ).autocomplete({
    source: cities,
    messages: {
        noResults: '',
        results: function() {}
    }
    });
console.debug(cities);
});
</script>
{% endblock %}
{% endblock %}

