{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% set month_en_fr = {'January': 'Janvier', 'February': 'Février','March': 'Mars','April': 'Avril','May': 'Mai','June': 'Juin', 'July' : 'Juillet', 'August': 'Aout', 'September': 'Septembre', 'November': 'Novembre', 'December': 'Décembre'} %}
{% set day_en_fr = {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche'} %}
{% block content %}

<div class="row">
    <div class="col-md-12" id="head" style="height:320px;">
        <div id="bottom-head">
            <div class="container container-fluid">
                <div class="row">
                    <div class="col-md-5 hidden-ms hidden-xs title">
                        <p>
                        <a href="{{ path('home') }}" style="text-decoration:none; color:white">becee<span class="saumon">. suggesting you the best</span> </a>
                        </p>
                    </div>
                    <div class="col-md-7">
                        <form class="input-group" action="{{ path('home') }}" method="POST">
                            <input type="text" id="autocomplete-city" name="search" class="form-control empty" placeholder="&#xF002; Restaurant near {{ page.current_city.name }}" autocomplete=off>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col-md-12 head-->
</div><!-- end row -->

<div class="container container-fluid">
    <div class="row top15">
        <ul class="nav nav-pills col-md-12" style="padding:0">
            <li><a data-toggle="pill" href=
            "#suggested">
            <i class="fa fa-crosshairs  fa-2x"></i>
            <span style="font-size:25px">
            Suggested</span></a></li>

            <li><a data-toggle="pill" href="#nearest">
            <i class="fa  fa-location-arrow  fa-2x"></i>
            <span style="font-size:25px">
            Nearest</span></a></li>

            <li class="active"><a data-toggle="pill" href="#reviews">
            <i class="fa  fa-comments-o  fa-2x"></i>
            <span style="font-size:25px">
            Reviews</span></a></li>

            <li><a data-toggle="pill" href="#random">
            <i class="fa  fa-random  fa-2x"></i>
            <span style="font-size:25px">
            Random</span></a></li>
        </ul>
    </div>
    <div class="row top15">
        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="reviews">
                {% for business in page.businesses|slice(0,6) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="business-box-container" style=
                                "background:url({{ media(business.images[0].path) }}) no-repeat center;">
                                <span style="display:block; padding:5px"><i class="fa fa-trophy fa-5x" style="color:rgba(196,196,196,0.5); "></i> <span style="position:absolute; top:10px; left:25px; font-size:2.4em; font-family:'Roboto';">{{ business.ranks.0.rank_zone }}</span></span><span style="font-size:1.6em; padding:5px; background:rgba(0,0,0,0.4); color:white">{{ business.ranks.0.feature_name }}</span>
                                {% for tag in business.getTags() %}{% if not tag.name is empty %} <a class=
                                "btn btn-small tag" href="{{ path('business_add') }}" style="width:auto">
                                    {{ tag }}</a>
                                    {% endif %}
                                {% endfor %}

                                    <a href="{{ path('view_business', {'id':business.id, 'name':business.name}) }}" style="display:block"><p class="business-info">{{ business.name }}<br>
                                    <span style=
                                    "font-size:12px">{{ business.address_1 }}</span>
                                    <span class="secondary-info-business-box">
                                    {% for i in 1..business.price %}
                                    €
                                    {% endfor %}

                                    <small style="font-size: 0.8em">- environ 500 mètres</small>
                                    </span></p></a>
                                </div>
                                        {% set comment_id = 0 %}
                                        {% set foo = 0 %}
                                        {% for comment in business.comments %}
                                        {% if comment.votePos >= foo %}
                                        
                                        {% set foo = comment.votePos %}
                                        {% set comment_id = loop.index %}
                                        {% endif %}
                                        {% endfor %}
                                        

                                {% if comment_id is defined %}
                                {% for comment in business.comments %}
                                {% if loop.index ==  comment_id %}       
                                <div class="description-info-business-box">
                                    <div>
                                        <p style="display:inline-block; width:auto;float:left">
                                        <i class="fa fa-user" style="padding:10px;margin:5px;background-color:#eee"></i>
                                        </p>
                                        <p>{{ comment.comment[0:150] }}</p>
                                    </div>

                                    <div>
                                        <hr style="margin: 5px 0">
<p style="float:left; color:#aaa;">{{ comment.userName.firstname }} {{ (comment.userName.lastname|upper)[0] }}.</p>
                                        <p style="color:#aaa; float:right;">
                                        <i class="fa fa-clock-o"></i> {{ comment.pubDate|date("l, d F Y", false)|replace(month_en_fr|merge(day_en_fr)) }}
                                        <i class="fa fa-thumbs-o-up"></i> <span style="color:#1ec416">{{comment.votePos}}</span></p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <div style=
                        "text-align:center; color:#aaa;text-style:italic;padding:10px;margin: 10px 0">
                        <p><i class="fa fa-spinner"></i> Loading</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="nearest">
                {% for business in page.businesses|slice(0,4) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="business-box-container" style=
                                "background:url({{ media(business.images[0].path) }}) no-repeat center;">
                                {% for tag in business.getTags() %} <a class=
                                "btn btn-small tag" href="{{ path('business_add') }}" style="width:auto">
                                    {{ tag }}</a>
                                {% endfor %}

                                    <a href="{{ path('view_business', {'id':business.id, 'name':business.name}) }}" style="display:block"><p class="business-info">{{ business.name }}<br>
                                    <span style=
                                    "font-size:12px">{{ business.address_1 }}</span>
                                    <span class="secondary-info-business-box">
                                    {% for i in 1..business.price %}
                                    €
                                    {% endfor %}

                                    <small style="font-size: 0.8em">- environ 500 mètres</small>
                                    </span></p></a>
                                </div>

                                <div class="description-info-business-box">
                                    <div>
                                        <p style="display:inline-block; width:auto;float:left">
                                        <i class="fa fa-user" style="padding:10px;margin:5px;background-color:#eee"></i>
                                        </p>

                                        <p>{{ business.description[0:150] }}…</p>
                                    </div>

                                    <div>
                                        <hr style="margin: 5px 0">

                                        <p style="color:#aaa; float:right;">
                                        <i class="fa fa-clock-o"></i> Lundi 15 Avril à 19h38 -
                                        <i class="fa fa-thumbs-o-up"></i> 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <div style=
                        "text-align:center; color:#aaa;text-style:italic;padding:10px;margin: 10px 0">
                        <p><i class="fa fa-spinner"></i> Loading</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="suggested">
                <div id="map-canvas" style="box-shadow: 0px 0px 2px 0px #cfcfcf; margin: 15px 10px"></div>
            </div>

            <div class="tab-pane" id="random">

            </div>
        </div><!-- tab content -->
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
    $('#iconified').on('keyup', function() {
    var input = $(this);
    if(input.val().length === 0) {
        input.addClass('empty');
    } else {
        input.removeClass('empty');
    }
});
 $(function() {
    var cities = [
        {% for categorie in page.categories %}
            {% for city in page.cities %}
            '{{ categorie.categorie_name|title }} near {{ city.name }}',
            {% endfor %}
        {% endfor %}
    ];
    $( "#autocomplete-city" ).autocomplete({
    source: cities,
    messages: {
        noResults: '',
        results: function() {}
    }
    });
console.debug(cities);
});
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0bzuk1i_1CC2CldMPylb88Wj4AizQo-s&sensor=true"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script type="text/javascript" src="{{ media('vendor/googlemap-api/js/googlemap-api.js')}}"></script>
<script type="text/javascript">
   initialize(44.8377890, -0.5791800, '');
</script>
{% endblock %}
