{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div id="head" class="container">
            <div id="head-content">
                <p>
                    HERE AT
                    <img class="white-logo" src="{{ media('img/logo1.png') }}"/> 
                    WE CONSIDER YOUR TASTES
                </p>
                <form method="post" action="{{ path('home') }}">
                    <select onchange="this.form.submit()" class="form-control input-sm" name='city'>
                        {%for city in page.cities %}
                        {% if city.id == page.current_city.id %}
                        <option value="{{ city.id }}" selected>{{ city.name }}</option>
                        {% else %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <ul class="nav-tools">
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-beer fa-lg"></i><span>Bars</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-coffee fa-lg"></i><span>Cafés</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-cutlery fa-lg"></i><span>Restaurants</span></a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-gear fa-lg" ></i><span>Custom</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col-md-12-->
</div><!-- end row -->

<div id="sub-header">
    <div class="container container-fluid">
        <div class="row">
                <ul>
                    <li class="selected">
                        <a href="#" class="sub-header-btn">Restaurants</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Fashion</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Food</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Hotels</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Nightlife</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Beauty & Spas</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Automotive</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Health & Medical</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn" style="background:rgb(248,248,248);font-weight:800">More</a>
                    </li>
                </ul>
        </div>
    </div>
</div>
<br/>
<div class="container container-fluid">
    <div class="row top15">
            <div class="col-md-2">
                <div style="width:100%; border: 0px solid #ddd;padding:20px;border-right:none;">
                    <div style="text-align:center; color:#222;padding:10px"><i class="fa fa-cutlery fa-5x"></i><span style="font-size:25px"></br>Restaurant</span></div>
                    <div style="text-align:center; color:#222;padding:10px;background-color:#eee">Recent Reviews</div>
                </div>
            </div>
            <div class="col-md-10" style="border: 1px solid #ddd;padding:20px;">
                {% for restaurant in page.businesses|slice(0,4) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <a alt="page_restaurant" href="{% spaceless %}{{ path('view_business', {'id':restaurant.id, 'name':restaurant.name}) }}{% endspaceless %}" style="display:block">
                            <div class="col-md-12">
                                <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center; border-right:5px solid white">
                                    {% for tag in page.tags|slice(0, 4) %}
                                    <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                                    {% endfor %}

                                    <p class="business-info">
                                        {{restaurant.name}}<br/>
                                        <span style="font-size:12px">{{restaurant.line1}}</span>
                                        <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                    </p>
                                </div>
                    <div class="description-info-business-box">
                        <p style="display:inline-block; width:auto;float:left"><i class="fa fa-comment" style="padding:10px;margin:5px;background-color:#eee"></i></p><p>{{ restaurant.description[0:150] }}...</p>
                    </div>
                            </div></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>

    <div class="row top15">
            <div class="col-md-10" style="border: 1px solid #ddd;padding:20px;">
                {% for restaurant in page.businesses|slice(0,4) %}
                <div class="col-md-6 home-business">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <a alt="page_restaurant" href="{% spaceless %}{{ path('view_business', {'id':restaurant.id, 'name':restaurant.name}) }}{% endspaceless %}" style="display:block"><div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center; border-right:5px solid white">
                                    {% for tag in page.tags|slice(0, 4) %}
                                    <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                                    {% endfor %}

                                    <p class="business-info">
                                        {{restaurant.name}}<br/>
                                        <span style="font-size:12px">{{restaurant.line1}}</span>
                                        <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                    </p>
                                </div></a>
                    <div class="description-info-business-box">
                        <p style="display:inline-block; width:auto;float:left"><i class="fa fa-comment" style="padding:10px;margin:5px;background-color:#eee"></i></p><p>{{ restaurant.description[0:150] }}...</p>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
                <div style="width:100%; border: 0px solid #ddd;padding:20px;border-right:none;">
                    <div style="text-align:center; color:#222;padding:10px"><i class="fa fa-cutlery fa-5x"></i><span style="font-size:25px"></br>Restaurant</span></div>
                    <div style="text-align:center; color:#222;padding:10px;background-color:#eee">Recent Reviews</div>
                </div>
            </div>
    </div>

    <div class="row top15">
        <div class="col-md-10" style="padding:10px;border: 0px solid #ddd;">
                            Schmoll a fait un clash entre The Black Pearl et Getsumen<hr style="margin:5px 0" />
                            Henry a rejoint la communauté<hr style="margin:5px 0" />
                            Reuters a fait sa première review sur Getsumen<hr style="margin:5px 0" />
        </div>
        <div class="col-md-2">
            <div style="width:100%; padding:20px;">
                <div style="text-align:center; color:#222;padding:10px;background-color:#eee">Recent activites</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
