{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div id="head" class="container">
            <div id="head-content">
                <p>
                    HERE AT
                    <img class="white-logo" src="{{ media('img/logo1.png') }}"/> 
                    WE CONSIDER YOUR TASTES
                </p>
                <form method="post" action="{{ path('home') }}">
                    <select onchange="this.form.submit()" class="form-control input-sm" name='city'>
                        {%for city in page.cities %}
                        {% if city.id == page.current_city.id %}
                        <option value="{{ city.id }}" selected>{{ city.name }}</option>
                        {% else %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <ul class="nav-tools">
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-beer fa-lg"></i><span>Bars</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-coffee fa-lg"></i><span>Cafés</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-cutlery fa-lg"></i><span>Restaurants</span></a>
                    </li>
                    <li>
                        <a class="btn-categories btn-default" href="#">
                            <i class="fa fa-gear fa-lg" ></i><span>Custom</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col-md-12-->
</div><!-- end row -->

<div id="sub-header">
    <div class="container-fluid">
        <div class="row center-row">
                <ul>
                    <li class="selected">
                        <a href="#" class="sub-header-btn">Restaurants</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Boutiques</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Coiffeurs</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Alimentaire</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Loisirs</a>
                    </li>
                    <li>
                        <a href="#" class="sub-header-btn">Opéra</a>
                    </li>
                </ul>
        </div>
    </div>
</div>

<div class="container-fluid main-container">
                    <div class="categories info-box" style="background:rgba(100,100,100,0.1); width:110%;height:165px;margin-left:-50px; border:1px solid white"> 
                            {%for city in page.cities|slice(0, 3) %}

                            <div class="col-md-4">                    <center><img src="{{ media('img/avatar.png') }}" style="display:block;margin:auto;margin:10px;border:1px solid #fff" class="img-circle">
                    <span style="color:#222 !important; font-weight:600; font-family: Roboto;font-size:20px">{{city.name}}</span>
                    </center>
                            </div> 

                            {% endfor %}
                    </div>
                <section class="popupHeader">
                    <center><span class="header_title"><span style="font-size:12px">RECENTS VERSUS</span></span></center>
                </section>
    <div class="row center-row">
        <div class="col-md-12">
            {% for restaurant in page.businesses %}
            {% if loop.index is even %}
            <div class="col-md-2 home-business">
                <div class="description-info-business-box">
                    <center><img src="{{ media('img/avatar.png') }}" style="display:block;margin:auto;margin:10px;" class="img-circle">
                    Arthur's winner is
                    </center>

                </div>
                <section class="popupHeader">
                    <center><span class="header_title"><span style="font-size:12px">{{page.businesses[loop.index-2].name[0:15]}}</span></span></center>
                </section>
                <div class="description-info-business-box">
                    <p>&laquo; {{ restaurant.description[0:40] }}... &raquo;</p>
                </div>
            </div>
            {% endif %}
            <div class="col-md-5 home-business">
                <div class="home-business-box">
                    <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                        {% for tag in page.tags|slice(0, 4) %}
                        <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                        {% endfor %}

                        <p class="business-info">
                            {{restaurant.name}}<br/>
                            <span style="font-size:12px">{{restaurant.line1}}</span>
                            <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                        </p>
                    </div>
                </div>
                <div class="description-info-business-box">
                    <p>{{ restaurant.description[0:77] }}...</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-0">
            <div style="height:auto; width:100%; background-color:white; margin: 10px 0">
                
            </div>
        </div>

    </div>
                <section class="popupHeader">
                    <center><span class="header_title"><span style="font-size:12px">SHOW MORE BUSINESS</span></span></center>
                </section>
    <div class="row center-row">
        <div class="col-md-12" style="margin: 10px 0">
            <div class="head-categories">
                <img src="{{ media('img/logo.png') }}" style="display:inline-block;vertical-align:top" width="100px" />
                <span style="display:inline-block; margin:0px;position:relative;vertical-align:top;font-size:32px">
                Restaurant
                </span>
                <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Restaurant Indien">
                </div>


                {% for tag in page.tags|slice(0, 3) %}
                <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                {% endfor %}
                <a href="{{ path('business_add') }}" class="btn btn-small special tag">Most used tags :</a>
            </div>
            
            {% for restaurant in page.businesses %}
            <div class="col-md-6 home-business">
                <div class="home-business-box">
                    <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                        {% for tag in page.tags %}
                        {% if tag.id < 4 %}
                        <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}

                        <p class="business-info">
                            {{restaurant.name}}<br/>
                            <span style="font-size:12px">{{restaurant.line1}}</span>
                            <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                        </p>
                    </div>
                </div>
                <div class="description-info-business-box">
                    <p>{{ restaurant.description[0:77] }}...</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row center-row">
            <div class="col-md-4">
                <section class="popupHeader" style="width:400px">
                    <center><span class="header_title"><span style="font-size:12px">RECENTS BUSINESSES</span></span></center>
                </section>
            {% for restaurant in page.businesses|slice(0, 5) %}
                <div style="width:50px; height:50px; display:inline-block;float:left;margin:10px;margin-right:12px;margin-left:11px;">
                    <div  style="width:65px; height:65px; display:inline-block;background:url({{ media(restaurant.path) }}) no-repeat center;border:3px solid #eee">
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-md-4">
                <section class="popupHeader" style="width:400px">
                    <center><span class="header_title"><span style="font-size:12px">SEARCH</span></span></center>
                </section>
                <div class="input-group" style="width:100%">
                      <input type="text" class="form-control" placeholder="Restaurant Indien">
                </div>
                <br/>
                {% for tag in page.tags|slice(0, 4) %}
                <a href="{{ path('business_add') }}" class="btn btn-small tag">{{tag.name}}</a>
                {% endfor %}
                <a href="{{ path('business_add') }}" class="btn btn-small special tag">Popular tags</a>
            </div>
            <div class="col-md-4">
                <section class="popupHeader" style="width:100%">
                    <center><span class="header_title"><span style="font-size:12px">RECENTS USERS</span></span></center>
                </section>
            {% for restaurant in page.businesses|slice(0, 5) %}
                <div style="width:50px; height:50px; display:inline-block;float:left;margin:10px;margin-right:12px;margin-left:11px;">
                    <div  style="width:65px; height:65px; display:inline-block;background:url({{ media(restaurant.path) }}) no-repeat center;border:3px solid #eee">
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
