{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}Home{% endblock %}

{% block content %}

 <div class="row">
            <div class="col-md-12">
                <div id="head" class="container">
                    <div id="head-title">
                        <p>HERE AT <img class="white-logo" src="{{ media('img/logo1.png') }}"/> WE CONSIDER YOUR TASTES</p>
                    </div>
                    <form method="post" action="{{ path('home') }}">
                        <select onchange="this.form.submit()" id="city-selection" class="form-control input-sm" name='city'>
                            {%for city in page.cities %}
                            {% if city.id == page.current_city.id %}
                            <option value="{{ city.id }}" selected>{{ city.name }}</option>
                            {% else %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                    {{ navtools() }}
                </div>
            </div><!-- end col-md-12-->
        </div><!-- end row -->
        <div id="middle-btn-container">
            <img src="{{ media('img/s.png') }}"/><img src="{{ media('img/s2.png') }}"/>
        </div>
        <div id="sub-header">
            <div class="container-fluid center-row">
                <div class="row">
                    <div class="col-md-12">
                        <p>HERE AT <strong>BECEE</strong> WE SUGGEST YOU THE BEST PLACES NEAR<br/><br/><strong>{{ page.current_city.name }}</strong>, France</p>
                    </div><!-- end col-md-12-->
                </div><!-- end row -->
            </div>
        </div>
        <div class="container-fluid center-row main-container">
            <div class="row">
                <div id="main" class="col-md-12">

                    <div class="categories info-box"> 
                        <img src="{{ media('img/label1.png') }}" class="label-img" />
                        <strong>Tips</strong> : You can catch two businesses and fight them until there is a winner. This fight is based upon our users preferences data but also and more importantly based upon your personal likes and dislikes, so hurry up and sign up to access those awesome features.
                        <span style="font-style:italic; font-size:0.8em">(This feature is not available yet)</span>
                    </div>
                    <hr/>
                </div>
                <div id="main" class="col-md-12">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Restaurant
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Restaurant Indien">
                        </div>


                        {% for tag in page.tags %}
                        {% if tag.id < 4 %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
               
                    {% for restaurant in page.businesses %}
                    <div class="col-md-6 home-business">
                        <div class="home-business-box">
                            <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags %}
                                {% if tag.id < 4 %}
                                <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                                {% endif %}
                                {% endfor %}

                                <p class="business-info">
                                    {{restaurant.name}}<br/>
                                    <span style="font-size:12px">{{restaurant.line1}}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                </p>
                            </div>
                        </div>
                        <div class="description-info-business-box">
                            <p>{{ restaurant.description[0:77] }}...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="main" class="col-md-12">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Restaurant
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Restaurant Indien">
                        </div>


                        {% for tag in page.tags %}
                        {% if tag.id < 4 %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
               
                    {% for restaurant in page.businesses %}
                    <div class="col-md-6 home-business">
                        <div class="home-business-box">
                            <div class="business-box-container" style="background:url({{ media(restaurant.path) }}) no-repeat center;">
                                {% for tag in page.tags %}
                                {% if tag.id < 4 %}
                                <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                                {% endif %}
                                {% endfor %}

                                <p class="business-info">
                                    {{restaurant.name}}<br/>
                                    <span style="font-size:12px">{{restaurant.line1}}</span>
                                    <span class="secondary-info-business-box">€ € € - 3.2 km</span>
                                </p>
                            </div>
                        </div>
                        <div class="description-info-business-box">
                            <p>{{ restaurant.description[0:77] }}...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="main" class="col-md-12">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Pubs
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Guinness">
                        </div>


                        {% for tag in page.tags %}
                        {% if tag.id < 4 %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
               
                </div>

                <div id="main" class="col-md-12">
                    <div class="head-categories">
                        <img src="{{ media('img/logo.png') }}" width="120px" /> | Cafés
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small add-business-btn">Add a business at 0$</a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Terrasse">
                        </div>


                        {% for tag in page.tags %}
                        {% if tag.id < 4 %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small tag">{{tag.name}}</a>
                        {% endif %}
                        {% endfor %}
                        <a href="{{ path('business_add') }}" class="btn btn-info btn-small special tag">Most used tags :</a>
                    </div>
                </div>
                </div>
            </div> 
        </div>
{% endblock %}
