{% from 'general.html.twig' import navtools%}
<!DOCTYPE HTML>
<html lang="en">

	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>
			BECEE | {% block title %}Compare, Review, Explore{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{ media('bootstrap/bootstrap.css') }}" media="all" />
		<link rel="stylesheet" type="text/css" href="{{ media('styles/style.css') }}" media="all" />
		<link rel="stylesheet" type="text/css" href="{{ media('styles/custom-scrollbar.css') }}" media="all" />
		<link rel="stylesheet" type="text/css" href="{{ media('styles/bootstrap-custom.css') }}" media="all" />
	    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900italic,100,300,300italic' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="{{ media('bootstrap/font-awesome/css/font-awesome.min.css') }}">
	    {% endblock %}
	    {% endblock %}
	</head>

	<body onload="initialize()">
		<div class="wrapper">
			<header class="container-fluid">
				<div class="input-group">
				  	<span class="input-group-addon">
				  		<span class="glyphicon glyphicon-search"></span>
					</span>
				  	<input type="text" class="form-control" placeholder="Restaurant Indien">
				</div>
				{{ navtools() }}
				<a href="{{ path('home') }}">
                    <div id="logo">
				    </div>
                </a>
				<div id="profil-panel">

				<ul id="nav-tools">
					<li>
						<a class="btn-categories btn-default" href="{{ path('home') }}">
						    Connexion
						</a>
					</li>
					<li>
						<a class="btn-categories btn-default" href="{{ path('user_signup') }}">
						    Inscription
						</a>
					</li>
				</ul>
				</div>
			</header>

			<div class="container-fluid main-content">
			{% block content %}{% endblock %}
			</div>
			<div class="push"></div>
		</div>

		<footer>
			{% block footer %}
				<a href="{{ path('home') }}"><img class="white-logo" src="{{ media('img/logo1.png') }}"/></a><br/>
				<p>PAR LA MEP TEAM</p>
			{% endblock %}
		</footer>

		</body>
</html>
