{% extends "main_layout.html.twig" %}
{% from 'general.html.twig' import navtools%}
{% block title %}{{page.business.name}} - {{page.business.city.name}}{% endblock %}
{% set month_en_fr = {'January': 'Janvier', 'February': 'Février','March': 'Mars','April': 'Avril','May': 'Mai','June': 'Juin', 'July' : 'Juillet', 'August': 'Aout', 'September': 'Septembre', 'November': 'Novembre', 'December': 'Décembre'} %}
{% set day_en_fr = {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday': 'Dimanche'} %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="head">
        <div id="logo" style="float:left; position:absolute; top:0; left:15px; z-index:999">
            <div class="col-md-4 hidden-sm hidden-xs title">
                <p style="width:500px">
                    <a href="{{ path('home') }}" style="text-decoration:none; color:white">becee<span class="saumon">.</span></a>                     
                    <span class="btn-categories btn-default"style="color:white; background:rgba(255,255,255,.1); display:inline-block; border-color:rgba(255,255,255,.2)">
                    <span>BETA</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="container container-fluid" style="background:rgba(0,0,0,0.4); height:100%">
            <div class="row">
                <div class="col-md-12">
                    <form class="input-group" action="{{ path('home') }}" method="POST">
                        <input type="text" id="autocomplete-search" name="search" class="form-control empty" placeholder="&#xF002; {{ page.business.categories.0.categorie_name|title }} near {{ page.business.city.name }}" style="background:none;" autocomplete=off>
                        <div id="results"></div>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:80px">
                <div class="col-md-7">
                        <h1 style="text-align:left; font-size:5em; background:none; border-color: rgba(100,100,100,0.1); color:white; margin:10px">{{ page.business.name }}</h1>
                    <p style="font-size:1.5em; color: white; float: left; font-family: 'Roboto'; margin:7px 15px;">{{ page.business.address_1 }}, {{ page.business.city.postal_code }} {{ page.business.city.name }}</p>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs ">
                    <ul class="categories" style="list-style-type: none; margin-top:0px; float: right">
                        {% for categorie in page.business.categories|slice(0,3) %}
                        <li>
                            <a href="#"><i class="fa fa-{{ categorie.categorie_icon }} fa-5x" style="color:rgba(250,250,250,0.98); margin-top:20px"></i></a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end col-md-12 head-->
</div>
<!-- end row -->

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding:0px 0">
                <div class="col-md-9" style="padding:0px 0px; border:3px solid #fefefe; background:#fbfbfb">
                    <div class="row">
                        <nav class="navbar navbar-default" role="navigation" style="background:#ffef; border-radius: 0; margin:0;margin:5px 15px;">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    {% for categorie in page.business.categories %}
                                    <a class="navbar-brand" href="#" style=""><i class="fa fa-{{ categorie.categorie_icon }}" style="margin-right:5px;"></i> {{ categorie.categorie_name|title }}</a>
                                    {% endfor %}
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        {% if page.business.price in range(1,6) %}
                                        <li><a href="#">{% for i in range(1,page.business.price) %} <i class="fa fa-eur fa-lg"></i> {% endfor %}<span style="color:#ccc">{% if page.business.price != 5  %}{% for i in range(0,4-page.business.price) %} — {% endfor %}{% endif %}</span></a>
                                        </li>{% endif %}
                                        <li><a href="#"><i class="fa fa-phone fa-lg" style="margin:0 5px;"></i> {{ page.business.phone_number }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding:5px; border:1px solid #eee; margin:0 15px;">
                                    <span style="background:#fff; color:#555; padding:0px 20px; border-left:5px solid #fdf3c6; margin-right:0px; width:70px; text-align:left; display: inline-block; font-weight:bold;">Tags</span>
                                    {% for tag in page.business.tags|slice(0,7) %} {% if not tag is empty %}<span style="border:1px solid #efefef; background:#fff; padding:2px 5px; color: #787878; max-width:10px;"><i class="fa fa-tag" style="color:#ccc; margin-right:5px"></i><a href="#" style="margin:5px 0; display:inline-block; text-decoration:none;color: #787878;">{{ tag[0:12]|lower }}</a> 

                                    <form id="delete_tag" action="{{path('delete_tag', {'id' : page.business.id })}}" role="form" method="post" style="display:inline-block;" >
                                    <input name="tag_name" type="hidden" value="{{tag}}" style="display:hidden">
                                    <a href="#" onclick="$(this).closest('form#delete_tag').submit()"><i class="fa fa-times" style="color:#ddd;"></i></a></form></span>
                                    {%endif%}
                                    {% endfor %}
                                    {% if page.business.tags|length < 7 %}
                                     <form id="post_tag" action="{{path('add_tag', {'id' : page.business.id })}}" role="form" method="post" style="display:inline-block;" ><input required name="tag_name" type="text" placeholder="Ajouter un tag" autocomplete="off" style="height:20px; width:100px; display:inline-block"><a href="#" onclick="$(this).closest('form#post_tag').submit()"><i class="fa fa-plus" style="color:#bbb; margin-left:5px"></i></a></form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="height:100px; margin-bottom:0px; padding:0 14px;">
                                {% for image in page.business.images %}
                                <a href="#">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; margin:5px auto; display:inline-block">
                                        <img src="{{ media(image.path) }}" style="height:100px; min-width:100px;display:block" />
                                    </div>
                                </a>
                                {% endfor %} {% if page.business.price != 9 %} {% for i in range(0,8-(page.business.images|length)) %}
                                <a href="#add_comment_area">
                                    <div class="img-container" style="overflow:hidden;border-radius:5px; border:1px solid #fefefe; margin:5px auto; display:inline-block; background:#f6f6f6; text-align:center; padding-top:20px">
                                        <i class="fa fa-plus fa-5x" style="color:#e5e5e5;"></i>
                                    </div>
                                </a>
                                {% endfor %} {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding:10px; height:auto; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                font-weight: 400
                font-style:  normal
                font-size-adjust:    none
                color:   #4D4D4D; border:1px solid #eee; background-color:#fff; margin:10px; position:relative;overflow:hidden;">
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fd6767; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Heures d'ouverture</span>
                                    Probablement ouvert
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #a1f9a5; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Menus</span>
                                    Brunch, Déjeuner, Dîner
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #c5e9fd; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Cartes de crédit</span>
                                    Oui (y compris American Express)
                                    <hr style="margin: 7px 0" />
                                    <span style="background:#fff; color:#555; padding:5px; border-left:5px solid #fdf3c6; margin-right:15px; width:150px; text-align:center; display: inline-block; font-weight:bold">Terrasse</span>
                                    Oui
                                    <hr style="margin: 7px 0" />

                                    <p style="padding:5px 15px">{{ page.business.description }}</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="background:#f8f8f8; padding:10px">
                                    <div style="width:100%; background:#efefe;">
                                        <form class="form-inline" action="{{path('add_comment', {'id' : page.business.id })}}" role="form" method="POST" style="background:#f8f8f8; padding:10px; border:1px solid #eaeaea" runat="server" enctype="multipart/form-data">
                                            <label style="    display: inline-block;
                                margin-bottom: 0;
                                margin-top: 0;
                                padding-left: 0;
                                vertical-align: middle; float:left">
                                                <img width="32" height="32" data-retina-url="https://irs2.4sqi.net/img/user/64x64/85462955-UXUT2SSJFPV5OVKQ.jpg" title="Elias R." class="avatar " alt="Elias R." src="https://irs2.4sqi.net/img/user/64x64/85462955-UXUT2SSJFPV5OVKQ.jpg">
                                            </label>
                                            <div class="form-group" style="display: block;
                            overflow: hidden;
                            padding: 0 4px 0 6px;">
                                                <textarea id="add_comment_area" class="myclass" class="form-control" placeholder="  Laissez un commentaire" style="width:calc(100% - 105px); min-height:33px; display:inline-block; border: 1px solid #f5f5f5; padding:5px; height:33px;resize: none;" name="comment" autocomplete=off required></textarea>
                                                <button type="submit" class="btn btn-default" style="width:70px; height:33px; float:right; padding-top:6px">Envoyer</button>
                                                <div class="image-upload" style="float:right; margin: 5px; color:#ccc">
                                                    <label for="imgInp">
                                                        <i class="fa fa-camera fa-lg" style="cursor:pointer;margin-right: 3px; margin-top:7px"></i>
                                                    </label>
                                                    <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                                                    <input id="imgInp" style="display:none" type="file" name="business_user_image">
                                                </div>
                                            </div>
                                            <div id='smallpic'>
                                                <img id="blah" src="#" alt="" style="display:none" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="media-list" style="padding:0 10px; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                        font-weight: 400
                        font-style:  normal
                        font-size-adjust:    none
                        color:   #4D4D4D; background-color:#fff; margin-top:0px; position:relative;overflow:hidden;border:1px solid #eee;border-top:none; background-color:#fff;">



                                            {% for userComment in page.business.comments %}
                                            <li class="media" style="padding:0px; vertical-align:top; margin:0">
                                                <div style="display:inline-block; background:#fdfdfd; width:100%; padding:5px 10px">
                                                    <span style="font-size:9pt; color:#aaa; margin: 5px 0; display:inline-block;float:left"><a style="color:#2C3E50" href="#">{{ userComment.userName.firstname }} {{ userComment.userName.lastname|upper }}</a> - {{ userComment.pubDate|date("l, d F Y", false)|replace(month_en_fr|merge(day_en_fr)) }}</span>

                                                    <form action="{{ path('delete_comment', {'business_id' : page.business.id, 'comment_id' : userComment.id }) }}" method="POST">
                                                    <span style="font-size:9pt; color:#aaa; margin: 5px 5px; display:inline-block; float:right; color:#2ad41d">
                                                    <button type="submit" name="vote" value="neg" style="overflow:visible; font-size:1em; display:inline; margin:0; padding:0; border:0; cursor:pointer; background:none"><i class="fa fa-times" style="margin: 0 5px; color:#ddd"></i></button>
                                                    </span>
                                                    </form>

                                                    <form action="{{ path('vote_comment', {'business_id' : page.business.id, 'comment_id' : userComment.id }) }}" method="POST">
                                                    <span style="font-size:9pt; color:#aaa; margin: 5px 20px; display:inline-block; float:right; color:#2ad41d">
                                                    <button type="submit" name="vote" value="neg" style="overflow:visible; font-size:1em; display:inline; margin:0; padding:0; border:0; cursor:pointer; background:none"><i class="fa fa-thumbs-down fa-lg" style="margin: 0 5px; color:#ddd"></i></button> <span style="color:#d42020">{{ userComment.voteNeg }}</span>
                                                    <button type="submit" name="vote" value="pos" style="overflow:visible; font-size:1em; display:inline; margin:0; padding:0; border:0; cursor:pointer; background:none; color:#29fe24"><i class="fa fa-thumbs-up fa-lg" style="margin: 0 5px; color:#ddd"></i></button> {{ userComment.votePos }}
                                                    </span>
                                                    </form>
                                                </div>
                                                <div class="col-md-1 hidden-xs hidden-sm" style="border-right:1px solid #f0f0f0;display:inline-block; padding:10px 5px;">
                                                    <a class="pull-left" href="#" style="margin:0 10px">
                                                        <img width="40" height="40" title="Elias R." class="avatar " class="media-object" src="{{ media(userComment.userAvatar) }}" style="margin-top:2px">
                                                    </a>
                                                        <span class="label label-primary" style="margin-left:7px; border-radius:1px">{{ userComment.userCategory}}</span>
                                                </div>
                                                <div class="media-body col-md-9" style="padding:15px;vertical-align:top;display:inline-block ">
                                                    <p style="word-break:break-all;">{{ userComment.comment }}</p>
                                                </div>
                                                <div class="col-md-2 hidden-xs hidden-sm">
                                                    {% if not (userComment.imagePath is empty) %}
                                                    <div class="img-container" style="overflow:hidden;border-radius:5px; margin:5px auto 10px;">
                                                        <img src="{{ media(userComment.imagePath) }}" style="height:100px; min-width:100px;display:block" />
                                                    </div>
                                                    {% endif %}
                                                </div>

                                            </li>
                                            <hr style="margin:0" />{% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="map-canvas" style="box-shadow: 0px 0px 2px 0px #cfcfcf; margin: 15px 10px"></div>
                    <div style="padding:10px; width:100%; height:auto; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                font-weight: 400
                font-style:  normal
                font-size-adjust:    none
                color:   #4D4D4D; border:1px solid #eee; background-color:#fff; margin:10px; position:relative;overflow:hidden;">
                        <a href="{{ path('add_visit', {'id': page.business.id}) }}" style="text-decoration:none">
                            <p style="float:left; display:inline-block; background:#f15959; padding:10px; color:#fff">J'y suis déjà venu</p>
                        </a>
                        <a data-toggle="modal" data-target="#suggested-clash" style="text-decoration:none; cursor:pointer">
                            <p style="float:right; display:inline-block; background:#3498DB; padding:10px; color:#fff">Je veux clasher</p>
                        </a>
                    </div>
                    <div style="padding:10px; width:100%; height:auto; letter-spacing: 0;font: 13px/140% 'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
                font-weight: 400
                font-style:  normal
                font-size-adjust:    none
                color:   #4D4D4D; border:1px solid #eee; background-color:#fff; margin:10px; position:relative;overflow:hidden;">

                        <span style="background:#fff; color:#555; padding:5px 20px; border-left:5px solid #fd6767; margin-right:15px; width:150px; text-align:left; display: block; font-weight:bold; margin-bottom:10px">Suggestions</span>
                        {% for suggested_business in page.suggested_businesses %} {% if not (suggested_business.id == page.business.id) %}
                        <div class="home-business-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="business-box-container" style="background:url({{ media(suggested_business.images[0].path) }}) no-repeat center; height:160px">
                                {% if not suggested_business.ranks.0 is empty %}
                                <img src="{{ media('img/label1.png')}}" style="margin-left:5px" />
                                <span style="display:block; padding:5px; position:absolute; top:0; left:5px"><i class="fa fa-trophy fa-2x" style="color:rgba(10,10,10,0.5); "></i> <span style="position:absolute; top:35px; left:9px; font-size:2.1em; font-family:'Roboto'; font-weight:800;color:rgba(10,10,10,0.5)">{{ suggested_business.ranks.0.rank_zone }}</span>
                                </span>
                                <span style="font-size:0.8em; background:rgba(0,0,0,0.6); color:white;font-family:'Roboto';padding:3px;margin:-9px 0px; position:absolute; display:block">{{ suggested_business.ranks.0.feature_name|capitalize }}</span>
                                {% endif %}
                                    <div class="tagblock">
                                        {% for tag in suggested_business.tags|slice(0, 2) %}{% if not tag is empty %}<a class="btn btn-small tag" href="#" style="width:auto">
                                    {{ tag|lower }}</a> {% endif %}{% endfor %}
                                    </div>

                                        <a alt="page_restaurant" href="{{ path('view_business', {'id':suggested_business.id, 'name':suggested_business.name}) }}" style="display:block">
                                            <p class="business-info">{{ suggested_business.name }}
                                                <br>
                                                <span style="font-size:12px;display:block">{{ suggested_business.address_1 }}</span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suggested-clash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="false" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
          <h4 id="myLargeModalLabel" class="modal-title">Clash suggérés</h4>
        </div>
        <div class="modal-body">
        <div class="row">
        Business visités récemments :
        <hr/>
        {% for business in page.visited_businesses %}
        {% if business.id != page.business.id %}
        <div class="col-md-6">
                    <div class="home-business-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="business-box-container" style=
                                "background:url({{ media(business.images[0].path) }}) no-repeat center;">
                                {% for tag in business.getTags() %}{% if not tag.name is empty %} <a class=
                                "btn btn-small tag" href="{{ path('business_add') }}" style="width:auto">
                                    {{ tag|lower }}</a>
                                    {% endif %}
                                {% endfor %}

                                    <a href="{{ path('clash_businesses', {'business_id1' : page.business.id, 'business_id2' : business.id}) }}" style="display:block"><p class="business-info">{{ business.name }}<br>
                                    <span style=
                                    "font-size:12px">{{ business.address_1 }}</span>
                                    <span class="secondary-info-business-box">
                                    {% for i in 1..business.price %}
                                    €
                                    {% endfor %}

                                    <small style="font-size: 0.8em">- environ 500 mètres</small>
                                    </span></p></a>
                                </div>

                                <div class="description-info-business-box">
                                    <div>
                                        <p style="display:inline-block; width:auto;float:left">
                                        <i class="fa fa-user" style="padding:10px;margin:5px;background-color:#eee"></i>
                                        </p>

                                        <p>{{ business.description[0:150] }}…</p>
                                    </div>

                                    <div>
                                        <hr style="margin: 5px 0">

                                        <p style="color:#aaa; float:right;">
                                        <i class="fa fa-clock-o"></i> Lundi 15 Avril à 19h38 -
                                        <i class="fa fa-thumbs-o-up"></i> 5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    {%endif%}
    {%else%}
        <p> Vous n'avez pas visité d'autres commerces ! Veuillez cliquer sur 'J'y suis déja venu' pour activer les clashs.</p>
    {% endfor %}

            </div>



      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
{% endblock %}

{% block scripts %}
{{parent()}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0bzuk1i_1CC2CldMPylb88Wj4AizQo-s&sensor=true"></script>
<script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script type="text/javascript">
$('#display_add_tag').click(function() {
  $('#add_tag').toggle('slow', function() {
    // Animation complete.
  });
});

 $(function () {
function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
            $('#blah').attr('style', 'height:100px; min-width:100px;display:block');
            $('#smallpic').attr('style', 'overflow:hidden;border-radius:5px; margin-top:10px');
            if (!($('#smallpic').hasClass('img-container'))) {
                var d = document.getElementById("smallpic");
                d.className = d.className + "img-container";
            }
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});

function expandTextarea(id) {
    var $element = $('.myclass').get(0);  
    
    $element.addEventListener('keyup', function() {
        this.style.overflow = 'hidden';
        this.style.height = 0;
        this.style.height = this.scrollHeight + 'px';
    }, false);
}

expandTextarea('add_comment_area');
</script>
<script type="text/javascript" src="{{ media('vendor/googlemap-api/js/googlemap-api.js')}}"></script>
<script type="text/javascript">
   initialize({{ page.business.city.lat }},{{ page.business.city.lng }}, '');
</script>
{% endblock %}

